.list-group-item {
  .badge-active {
    background-color: orange;
    color: white;
  }
  .badge-completed {
    background-color: #5cb85c;
    color: white;
  }
}

li {
  cursor: pointer;
  &:hover {
   color: green;
  }
}

div.completed {
  text-decoration: line-through;
  &:hover {
    color: orange;
  }
}

a.red {
  padding-left: 5px;
  color: red;
  font-size: 10px;
  vertical-align: bottom;
  text-decoration: underline;
}

.timestamp {
  font-size: 10px;
  font-style: italic;
  color: black;
  cursor: default;
}
